@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cwidth: 1000px;
  }

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.full-bleed {
    width: 100vw;
    margin-left: cacl(50% - 50vw);
}

.header {
    background-color: #1f2937;
    min-height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: calc((100vw - var(--cwidth))/2);
    padding-right: calc((100vw - var(--cwidth))/2);
}

.h_logo {
    font-size: 24px;
    font-weight: 1000;
    color: #f9faf8;
}

.h_links {
    display: flex;
}

ul {
    list-style-type: none;
}

li{
    margin-left: 20px;
}

a{
    text-decoration: none;
}

.quad1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    min-height: 575px;
    box-sizing: border-box;
    padding-left: calc((100vw - var(--cwidth))/2);
    padding-right: calc((100vw - var(--cwidth))/2);
}

.quad1 .content {
    /* width: 0; */
    display: flex;
    flex: 1 1 calc(var(--cwidth)/2);
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    display: flex;
    flex: 0 1 40%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.image img{
    width: 100%;
    height: 100%;
    min-width: 300px;
}

.quad1 .main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
}

button {
    font-weight: 900;
    border-radius: 8px;
    width: 100px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quad1 button {
    color: #f9faf8;
    background-color: #3882f6;
    margin-top: 10px;
}

.secondary, a {
    color: #e5e7eb;
    font-size: 18px;
}

.quad2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    box-sizing: border-box;
    padding-left: calc((100vw - var(--cwidth))/2);
    padding-right: calc((100vw - var(--cwidth))/2);
}

.quad2 .main {
    color: #1f2937;
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

}

.card img {
    width: 100%;
    height: 100%;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.subtext {
    text-align: center;
    color: gray;
    margin-top: 8px;
}

.quad3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    box-sizing: border-box;
    padding-left: calc((100vw - var(--cwidth))/2);
    padding-right: calc((100vw - var(--cwidth))/2);
}

.quad3 .main {
    color: #1f2937;
    font-size: 36px;
    font-weight: 0;
    font-style: italic;
}

.quad3 .secondary {
    color: #1f2937;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

.quad4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    box-sizing: border-box;
    padding-left: calc((100vw - var(--cwidth))/2);
    padding-right: calc((100vw - var(--cwidth))/2);
}

.quad4 .container{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}

.quad4 .main{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.quad4 button{
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    flex: none;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
}